<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GCMServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>The class will be used to register device to database</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dk.test.gcm.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Validate the pass code received from user</description>
    <display-name>AuthenticateTokenServlet</display-name>
    <servlet-name>AuthenticateTokenServlet</servlet-name>
    <servlet-class>com.dk.test.gcm.AuthenticateTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateTokenServlet</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
</web-app>